.menu{
	background-image:url(../image/bg.gif);
	background-repeat: no-repeat;
	height:70px;
}
ul{
	list-style-type:none;
	margin:0px;
}
a:link{
	color:white;
	text-decoration:none;
	font-style:none;
}
a:visited{
	color:white;
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration:none;
}
a:active{
	color:yellow;
	text-decoration:none;
}
li{
	float:left;
	font-weight:bold;
	padding:20px;
}
#shouye{
	color:yellowgreen;
}
#specil{
	color:orange;
}